.first-row {
    display: flex;
    align-items: center;
}
.first-row .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.second-row {
    display: flex;
    align-items: start;
}

.second-row .form-item {
    display: flex;
    flex-direction: column;
}