* {
    /* border: 2px groove green; */
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(96, 131, 177);
    color: rgb(29, 36, 56);
}
.asterisk {
    color: red;
}
.form-item {
    width: 200px;
    /* border: 2px solid green; */

}
.labels {
    width: 200px;
    /* border: 2px solid purple; */

}
.terms-conditions {
    color: purple;
}
input, select {
    border: solid 5px white;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}


.row1 {
    display: flex;
    align-items: center;
}
.row1 .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}



.row2 .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.row2a {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.row2a input {
    width: 315%;
}

.row2b {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}



.row3 {
    display: flex;
    align-items: center;
}
.row3 .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.row3 input {
    width: 315%;
}

.row4 {
    display: flex;
    align-items: center;
}
.row4 .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row5 {
    display: flex;
    align-items: center;
}
.row5 .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row6 {
    display: flex;
    align-items: center;
}
.row6 .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row7 {
    display: flex;
    align-items: center;
}
.row7 .form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

button {
    float: right;
    margin-right: 100px;
    color: white;
    background: rgb(47, 58, 90);
    padding:10px;
    /* border: rgb(29, 36, 56); */
    border-radius: 30px;
}