.index-all {
    display: flex;
    flex-direction: column;
    background: rgb(216, 65, 90);
}
body header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:rgb(216, 65, 90);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    color: rgb(253, 152, 169);
}
.index-body {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px 10px;
    background: white;
    border: 10px solid rgb(253, 152, 169);
}
.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-links a:hover {
    color: rgb(253, 152, 169);
}
.header-links a {
    display: flex;
    padding: 10px 10px;
    text-decoration: solid;
    background: white;
    color: rgb(216, 65, 90);
    border: 10px solid rgb(253, 152, 169);
}
.index-foot {
    text-align: center;
    color: rgb(253, 152, 169);
    font-size: 15px;
}