body {
    background: rgb(216, 65, 90);
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.top {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-between;
}
.header {
    display: flex;
    align-items: center;
    /* height: 20%; */
    color: rgb(253, 152, 169);
    flex-direction: row;
    text-align: center;
    padding: 10px 10px;
}
.body {
    display: flex;
    /* border: 10px inset rgb(216, 65, 90); */
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
    /* background: white; */
    /* margin: 10px 10px; */
    /* border: 2px solid red; */

}
.links {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}
a:hover {
    color:green;
    /* border: 1px solid red; */
}
p {
    /* width: 20%; */
    padding: 10px 10px;
    background: white;
    border: 10px solid rgb(253, 152, 169);
    /* color: rgb(216, 65, 90); */

}
a {
    color: rgb(216, 65, 90);
}
.foot {
    color: rgb(253, 152, 169);
    text-align: center;
    font-size: 15px;
}