* {
    box-sizing: border-box;
    /* font-size: 32px; */
    margin: 0;
    padding: 0;
    font-family: prompt, sans-serif;
    /* border: 2px groove green; */
}
a {
    text-decoration: solid;
    color: rgb(80, 80, 80);
    font-weight: bolder;
}

header {
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 20px;
    background:gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin: 0 auto;
}
.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    color: rgb(80, 80, 80);
}


.hero h1{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: rgb(80, 80, 80);
}

.index-body {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 10px 10px;
    padding: 10px 10px;
    /* background: white; */
    border: 10px solid gray;
    border-radius: 20px;
    background: white;
}

.row2 {
    display: flex;
    flex-direction: row;
} */

.item {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    align-items: center;

}

.image {
    border: 2px solid black;
    width: 80%;
    height: 80%;
    margin: 10px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav a, .nav i:hover {
    background: white;
    color: rgb(80, 80, 80);
    border: 0px solid rgb(80, 80, 80);
    border-radius: 10px;
}
.nav a, .nav i {
    display: flex;
    padding: 10px 10px;
    text-decoration: solid;
    background: rgb(253, 152, 169);
    color: rgb(216, 65, 90);
    /* border: 10px solid rgb(253, 152, 169); */
    border-radius: 10px;
}

/* main {
    height: 72vh;
} */

/* form {
    width: 90%;
    margin: 3em auto;
}

label {
    display: block;
} */

/* .index-foot {
    text-align: center;
    color: rgb(216, 65, 90);
    font-size: 20px;
}
.index-foot a {
    color:rgb(216, 65, 90);
}
.index-foot a:hover {
    color: palegreen;
} */

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:rgb(245, 152, 253); */
}

.faq {
    width: 70%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 13, 48);
    background-color:rgb(245, 152, 253);
    margin-bottom: 100px;
}
.faq h2 img {
    height: 24px;
}
.faq img {
    width: 100%;
}
.faq-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    background-color: beige;
    /* border: 2px black solid; */
    border-radius: 10px;
    position: relative;
    bottom: 10%; left: 30%;
}
.faq-body h2 {
    font-size: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.box-header {
    font-size: 18px;
    display: flex;
    padding: 10px;
    padding-top: 15px;
    justify-content: space-between;
}
.box {
    width: 100%;
}
.fa-circle-plus {
    color: #cc29db;
    display: flex;
}

.expand-buttons .fa-circle-minus {
    color: rgb(26, 13, 48);
    display: none;
}

.faq p {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: grey;
    display: none;
}
.expand-buttons {
    font-size: 24px;
    /* display: flex;
    justify-content: space-between; */
}

.nav {
    display: flex;
    flex-direction: row;
}


@media (max-width: 1020px) {
    .fa-caret-up {
    display: flex;
}
.drop-buttons .fa-caret-down {
    display: none;
}
.menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; right: 10vw;
    background: gray;
    border-radius: 10px;
}
.menu-items2 {
    display: none;
}
}


@media (min-width: 1020px) {
    .menu-items2 {
    display: flex;
    flex-direction: row;
}
    .drop-buttons {
    display: none;
}
.nav .menu-items a{
        color: red;
        border: solid 2px red;
        display: none;
    }

}

.supervisor-block, .karma-block, .calculator-block, .teambuilder-block {
    background-color: white;
    /* border: 2px red solid; */
    filter: drop-shadow(0px 5px 3px gray);
    border-radius: 5px;
    width: 300px;
    height: 175px;
    text-align: left;
    padding: 10px 10px;
    margin: 5px 10px;
}

.fourcard h2, .fourcard p {
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.fourcard h3 {
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}
.fcheading h2 {
    font-size: 30px;
    width: 100%;
}
.fcheading p {
    font-size: 14px;
    width: 100%;
}

.bold {
    font-weight: 600;
    font-size: 32px;
}
.supervisor-block {
    border-top: solid 5px #45d3d3;
}
.karma-block {
    border-top: solid 5px #fcaf4a;
}
.calculator-block {
    border-top: solid 5px #549ef2;
}
.teambuilder-block {
    border-top: solid 5px #ea5353;
}

.fourcard img {
    position: relative;
    top: 10%; left: 75%
}

@media (max-width: 1020px) {
    .fourcard {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 40%;
    }
    .fcheading {
        width: 90%;
    }
    .teambuilder-block {
        margin-bottom: 100px;
    }
}

@media (min-width: 1020px) {
    .fourcard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fcblocks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .middle-blocks {
        display: flex;
        flex-direction: column;
    }
    .fcheading {
        /* width: 70%; */
        text-align: center;
    }
    .calculator-block {
        margin-bottom: 100px;
    }
}

:root {
    --primary-red: hsl(0,100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    --accent-blue: hsl(248, 32%, 49%);
    --neutral-blue: hsl(249, 10%, 26%);
    --neutral-gray: hsl(246, 25%, 77%);
}
.signup {
    font-size: 1rem;
    background-color: var(--primary-red);
    background-image: url("../img/bg-intro-desktop.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    
}
.signup-heading {
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: 2px solid red; */
    width: 60%;
}
.signup-heading h1 {
    margin-bottom: 20px;
    /* border: 2px solid red; */ 
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.signup-heading p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.signup-content {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;    
}
.signup-content button {
    background-color: var(--accent-blue);
    padding: 20px 50px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    filter: drop-shadow(0px 5px 0px hsl(0, 81%, 65%));
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* border: 2px groove red; */
}
.signup-bold {
    font-weight: 700;
}
.signup-content input {
    width: 75%;
    /* padding-left: 20px; */
    font-family: 'Poppins', sans-serif;
}
.signup-content .claim{
    background-color: var(--primary-green);
    border-bottom: 3px solid hsl(154, 72%, 33%);
    border-radius: 5px;
    /* margin: 10px 0; */
    /* margin-bottom: 0; */
    width: 75%;
    padding: 20px 30px;
    filter: none;
    text-transform: uppercase;
    font-weight: 500;
}
.signup-inputs {
    background: white;
    border: none;
    border-radius: 10px;
    margin: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
    align-items: center;
}
.signup-inputs input {
    margin: 10px;
    padding: 10px;
    border: 3px solid var(--neutral-gray);
    color: var(--nautral-gray);
    border-radius: 5px;
    /* border: 2px groove red; */
}
.signup-inputs a {
    color: gray;
    padding: 30px 0;
    font-size: 11px;
}
button:hover {
    cursor: pointer;
}
@media (min-width: 1020px) {
    .signup {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }
    .signup-content {
        margin-left: 20px;
        /* margin-right: 20px; */
        width: 40%;
    }
    .signup-heading {
        margin-right: 20px;
        width: 40%;
    }
    .signup-content .claim{  
        margin: 10px 0;
        margin-bottom: 0;
        width: 75%;
    }
}