* {
    box-sizing: border-box;
    /* font-size: 32px; */
    margin: 0;
    padding: 0;
    /* color: blue; */
    font-family: prompt, sans-serif;
}

a {
    text-decoration: none;
}

.hero-section {
    padding-top: 1em;
    padding-bottom: 15em;
    background-image: url(../img/computerimgbg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    /* position: sticky; */
    /* top: 50px; */
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 10em;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2456;
    color: #efc2b3;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left p {
    margin-left: .25em;
    /* clamp(min, grow, max) */
    font-size: clamp(2rem, 5.5vw, 3rem);
    text-transform: uppercase;
}
.header-left i {
    margin-left: .25em;
    /* clamp(min, grow, max) */
    font-size: clamp(2rem, 5.5vw, 3rem);
}

nav a {
    font-size: clamp(.25rem, 2vw, 1rem);
    margin-left: .25em;
    color: #efc2b3;
    text-transform: uppercase;
}

.hero {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    /* border: 2px solid orangered; */
}

.hero h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #1a2456;
    text-transform: uppercase;
}
.hero p {
    width: 50%;
    margin: 1rem auto;
    text-align: center;
    color: #1a2456;
    font-size: clamp(1.25rem, 1vw, 3rem);
}

.products {
    width:90%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* border: 2px solid black; */
    gap: 1em;
    background-color: ghostwhite;

}

.product {
    width: clamp(25em, 48%, 60em);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    /* border: 2px solid black; */
}

.product img {
    /* width: 100%;
    height: 35vh; */
    /* display: inline-block; */
    aspect-ratio: 1/1;
}

.item {
    margin: .5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    text-transform: uppercase;
    font-weight: bold;
}

.item-description {
    margin: .25em 0;
}

footer {
    padding-left: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    color: #efc2b3;
    background-color: #1a2456;
}

.col-container {
    width :90%;
    max-width:1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
} 
.footer-col {
    width: 50%;
    /* border: 2px solid black; */
    margin: .5em 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 700px) {
    .col-container {
        flex-direction: column-reverse;
    }
}

footer h5 {
    margin-bottom: 5px;
}
footer a {
    color: #efc2b3;
    padding-top: 4px;
    
}
footer a:hover {
    color: #ff8d6b;
    text-decoration: underline;
}

button {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    color: #1a2456;
    background-color: #efc2b3;
    border-radius: 50px;
    border: none;
}
input {
    border: 2px solid #efc2b3;
    background: #1a2456;
    color: #efc2b3;
    /* border-radius: 20px; */
    height: 25px;
    margin: 5px auto;
}