* {
    box-sizing: border-box;
    /* font-size: 32px; */
    margin: 0;
    padding: 0;
    font-family: prompt, sans-serif;
    /* border: 2px solid black; */
}

a {
    text-decoration: none;
    color: black;
}

.header-left i {
    margin-right: 10px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 1em;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left p {
    font-size: clamp(1rem, 5.5vw, 2rem);
}
.header-left i {
    margin-left: .25em;
    font-size: clamp(2rem, 5.5vw, 3rem);
}

nav a {
    font-size: clamp(1rem);
    margin-left: .25em;
}

.hero {
    align-items: center;
    font-size: 50px;
    max-width: 1800px;
    margin: 0 auto;
    padding: 200px;
    background-image: url(../img/ableton.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    /* border: 2px solid orangered; */

}

.hero h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #ff4d47;
}

.blue-text {
    color: blue;
}

.larger-paragraph {
    font-weight: bold;
}

.images-yellow {
    display: flex;
    justify-content: center;
}

.images-yellow img {
    width: 50%;
    /* border: 2px solid purple; */
    padding: 0 30px;
}

.disk-jockey {
    background: #fbffa7;
}

.body-paragraphs {
    margin: 0 200px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 80px;
    /* border: 2px purple solid; */

}

.column-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /* align-items: center; */
    /* border: 2px orange solid; */
}

.foot-col {
    display:flex;
    flex-direction: column;
    padding-top: 50px;
    /* justify-content: center; */
    /* border: 2px solid green; */
}
footer a {
    display: flex;
    align-items: center;
    font-size: 15px;
}

h5 {
    font-size: 15px;
}

input {
    border: none;
    background-color: lightgrey;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    width: 700px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
    font-size: 20px;
}

.social-icons {
    display:flex;
    font-size: 50px;
}