* {
    /* border: 1px green solid; */
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.snap {
    font-size: 40px;
    margin: 10px;
}

@media (max-width: 1020px) {
    .header {
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 100px;
        margin: 10px;
        padding: 10px;
        border: 1px green solid;
    }
    .header-left2 {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 120px;
        right: 0px;
        width: 50%;
    }
    #close {
        display: none;
        padding: 20px;
        cursor: pointer;
    }
    #open {
        cursor: pointer;
        font-size: 30px;
    }
    .dropitms {
        display: none;
        padding: 10px;
    }
    .dropitms2 {
        display: none;
    }
    .dropbtns {
        display: flex;
        align-items: center;
    }
    .dropbtns h2 {
        padding: 10px;
        margin-left: 20%;
        font-size: 20px;
        font-weight: 200;
    }
    .dropbtns .fa-angle-down {
        display: none;
    }
    .page {
        padding: 10px;
        margin-left: 20%;
        font-size: 20px;
        font-weight: 200;
    }
    .login {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 20%;
        justify-content: center;
    }
    .login button {
        border: none;
        padding: 10px;
        font-size: 15px;
        font-weight: 200;
    }
    .login .register {
        border: 1px solid black;
        border-radius: 10px;
    }
    /* .menu .fa-bars {
        display: none;
    } */
    
}
/* @media (min-width: 1020px) {
    .header-left2 .fa-bars {
        display: none;
    }
    .header-left2 {
        display: flex;
        align-items: center;
    }
    .menu {
        display: flex;
    }
    .dropitms {
        display: none;
        padding: 10px;
    }
    .dropitms2 {
        display: none;
    }
    .dropbtns {
        display: flex;
        align-items: center;
    }
    .dropbtns h2 {
        font-size: 20px;
        font-weight: 200;
    }
    .dropbtns .fa-angle-down {
        display: none;
    }
    .page {
        font-size: 20px;
        font-weight: 200;
    }
    .login {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .menu .fa-x {
        display: none;
    }
    .dropitms {
        display: none;
    }
    .dropitms2 {
        display: none;
    }
} */
/* .dropdown {
    display: flex;
    flex-direction: column;
    color: grey;
    padding: 10px;
    position: relative;
}
a {
    padding-left: 5px;
    margin-top: 5px;
}
.dropitms {
    display: flex;
    flex-direction: column;
    color: grey;
}
.dropitms2 {
    display: none;
}
.page {
    padding: 10px;
    color: grey;
} */
/* .page:hover {
    color: black;
} */
/* .dropdown:hover {
    color: black;
} */
/* .dropitm:hover {
    color: black;
    cursor:default;
} */
/* 
@media (max-width: 1020px) {
    .dropitms2 {
        display: none;
    }
}




.login {
    padding: 10px;
    display: flex;
    align-items: center;
}

button {
    border: none;
    padding: 10px;
}
.register {
    border: 1px black solid;
    border-radius: 10px;
}
.learn-more {
    border: none;
    background: black;
    border-radius: 10px;
    color: white;
}

i {
    margin-right: 5px;
}
.todo {
    color: purple;
}
.calendar {
    color: turquoise;
}
.reminders {
    color: orange;
}
.planning {
    color: magenta;
}

h2 {
    display: flex;
    align-items: center;
}
.dropbtns .fa-angle-down {
    display: none;
    margin-left: 5px;
}
.dropbtns .fa-angle-up {
    display: flex;
    margin-left: 5px;
}
.dropbtns {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 40%;
}
img {
    width: 40%;
} */