* {
    /* border: 3px skyblue inset; */
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin: 10px;
    padding: 10px;
}
.snap {
    font-size: 40px;
    margin: 10px;
}

@media (min-width: 1020px) {
    .header-left2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: top; */
    /* margin: 10px; */
}

.dropdown {
    display: flex;
    flex-direction: column;
    color: grey;
    padding: 10px;
    position: relative;
}
a {
    padding-left: 5px;
    margin-top: 5px;
}
.dropitms {
    display: flex;
    flex-direction: column;
    color: grey;
}
.dropitms2 {
    display: none;
}
.page {
    padding: 10px;
    color: grey;
}
/* .page:hover {
    color: black;
} */
/* .dropdown:hover {
    color: black;
} */
/* .dropitm:hover {
    color: black;
    cursor:default;
} */
}
@media (max-width: 1020px) {
    .dropitms2 {
        display: none;
    }
}




.login {
    padding: 10px;
    display: flex;
    align-items: center;
}

button {
    border: none;
    padding: 10px;
}
.register {
    border: 1px black solid;
    border-radius: 10px;
}
.learn-more {
    border: none;
    background: black;
    border-radius: 10px;
    color: white;
}

i {
    margin-right: 5px;
}
.todo {
    color: purple;
}
.calendar {
    color: turquoise;
}
.reminders {
    color: orange;
}
.planning {
    color: magenta;
}

h2 {
    display: flex;
    align-items: center;
}
.dropbtns .fa-angle-down {
    display: none;
    margin-left: 5px;
}
.dropbtns .fa-angle-up {
    display: flex;
    margin-left: 5px;
}
.dropbtns {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 40%;
}
img {
    width: 40%;
}