* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
.box {
    width: 100px;
    height: 100px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 0;
    }
    
    /* .box1 {
    background-color: red;
    transition: width 1s ease-in-out;
        
    } */

    /* .box1:hover {
        width: 200px;
    } */

    /* .box1:hover + .box2{
        width: 200px;
    } */

/*     
    .box2 {
    background-color: green;
    transition: width 1s ease-in-out .5s;
    } */
    
    /* .box3 {
    background-color: yellow;
    /* animation: pulse 3s ease-in-out infinite; 
    } */
    /* @keyframes pulse {
      from {
        background-color: yellow;
      }
      to {
        background-color: blue;
      }
    } */
    
    .box4 {
    background-color: blue;
    }


html,
body {
  width: 100%;
  height: 100%;
}

div#main {
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
}

div#main .content {
  position: absolute;
  text-align: center;
  width:200px;
  top:50%;
  transform:translate(0 -50%);
  font-size:24pt;
}

div#main .topleft {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
  background: red;
  transition: transform 1s ease;
}

div#main .topright {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 100px;
  background: yellow;
  transition: transform 1s ease;
}

div#main .bottomleft {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 100px;
  background: blue;
  transition: transform 1s ease;
}

div#main .bottomright {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
  background: green;
  transition: transform 1s ease;
}

div#main:hover .topleft {
    transform: translate(-100px) rotateZ(90deg);
    
}

div#main:hover .topright {
    transform: translate(100px) rotateZ(-90deg);
}
div#main:hover .bottomleft {
    transform: translate(-100px) rotateZ(-90deg);
}

div#main:hover .bottomright {
    transform: translate(100px) rotateZ(90deg);
}

/* div#loader {
    position: relative;
    height: 200px;
    width: 200px;
    margin: auto;
  }
  
  div#loader .red {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    opacity: 0.75;
    transform-origin: 50% 50%;
    transition: transform 1s ease;
  }
  
  
  div#loader .green {
    display: inline-block;
    position: absolute;
    width: 75px;
    height: 75px;
    top: 12.5px;
    left: 12.5px;
    background: green;
    opacity: 0.75;
    transform-origin: 50% 50%;
  }
  
  
  div#loader .blue {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    background: blue;
    transform-origin: 50% 50%;
  }
  
@keyframes rotating {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */


.hello-world {
  background: linear-gradient(purple, magenta);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
}

.bubble {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50px;
  padding: 30px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: expand 1s ease-in-out;
}

h1 {
  display: block;
  width: 300px;
  /* border: red 2px solid; */
  animation: textexpand 2s ease-in;
}

.waving {
  display: block;
  /* border: 25px red solid; */
  /* background-color: green; */
  animation: textexpand 2s ease-in;
  animation: wave .5s cubic-bezier(1,.02,.54,.99) alternate infinite;
  font-size: 30px;
  margin-left: 1.5rem;
  
}

@keyframes expand {
  0% {
    width: 50px;
    opacity: 0;
  }
  50% {
    width: 125%;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes textexpand {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translate(-20px) rotate(-45deg);
    /* background-color: green;  */
  }
}