.title {
    /* margin: top right bottom left */
    /* margin: top/bottom left/right*/
    /* margin: top/bottom/left/right*/
    margin: 1px 0;
    font-size: 18px; 
    color:navy;
    text-align: center;
    font-weight: bold;
}
.inc {
    font-size: 12px;
}
.address {
    margin: 1px 0;
    font-size: 13px; 
}
.homepage {
    margin: 1px 0;
    font-size: 16px;
}
.first-letter {
    font-size: 32px;
}
.bot-line {
    margin: 15px;
}
.middle {
    float: left;
    color: navy;
    margin-left: 45px;
    line-height: 1.5;
}
.middle2 {
    
    margin-right: 45px;
    line-height: 1.5;
}
a {
    color: purple;
}
.red-links {
    color: red;
}
.geico {
    text-align: center;
    color: navy;
    text-transform: uppercase;
    font-size: 10px;
}
.comments {
    color: navy;
    font-size: 13px;
}
